# * * * * * means every minute for example
* * * * * docker run --rm \
  -e EMAIL=${EMAIL} \
  -e DOMAIN=${DOMAIN} \
  -e ACME_SERVER=${ACME_SERVER} \
  -v milestone1_certs:/etc/lego \
  goacme/lego:latest \
    --email=${EMAIL} \
    --domains=${DOMAIN} \
    --http --http.port=:80 \
    --path=/etc/lego \
    --server=${ACME_SERVER} \
    --accept-tos renew --days 30
