apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dm-milestone2-chart.fullname" . }}-pgadmin-servers
  labels:
    {{- include "dm-milestone2-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: pgadmin
data:
  servers.json: |
    {
      "Servers": {
        "1": {
          "Name": "{{ .Values.pgadmin.server.name }}",
          "Group": "{{ .Values.pgadmin.server.group }}",
          "Host": "{{ include "dm-milestone2-chart.fullname" . }}-postgres",
          "Port": {{ .Values.postgres.service.port }},
          "MaintenanceDB": "{{ .Values.postgres.db }}",
          "Username": "{{ .Values.postgres.user }}",
          "ConnectionParameters": {
            "sslmode": "{{ .Values.pgadmin.server.sslmode }}",
            "passfile": "/pgpass"
          }
        }
      }
    }
