nameOverride: backend
fullnameOverride: milestone2-backend

image:
  repository: ghcr.io/david-maat/linux-web-services-backend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false

livenessProbe:
  httpGet:
    path: /health
    port: http

readinessProbe:
  httpGet:
    path: /health
    port: http
